/* 
Tab Sugar
http://tabsugar.com/ - MIT License
*/

html {
  font-family: Helvetica;
  background: #65a9d7;
  background: #65a9d7 -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#65a9d7)) no-repeat;
  background: #65a9d7 -moz-linear-gradient(top, #ddd, #65a9d7) no-repeat;
}

/* Horizontal centering */

#title,
#presentation>*,
#menu>ul,
#content,
footer>p {
  width: 855px;
  margin: 0 auto;
  padding: 20px;
  /*border: 1px solid red;*/
}

/* Header */

#title {
  position: relative;
}

#title>h1 {
  font-family: 'Lobster', arial, serif;
  font-size: 72px;
  color: #65a9d7;
  text-shadow: rgba(255,255,255,.8) -1px -1px 1px, 1px 1px 1px rgba(50,50,50,.8);
}
.alpha {
  font-size: 13px;
  vertical-align: text-top;
  line-height: 50px;
  color: #ffb;
  text-shadow: rgba(0,0,0,.8) -.5px -.5px 2px, .5px .5px 2px rgba(0,0,5,.5);
}
h2 {
  font-family: 'Lobster', arial, serif;
  font-size: 18px;
  color: #fff;
  text-shadow: rgba(0,0,0,.8) -.5px -.5px 2px, .5px .5px 2px rgba(0,0,5,.5);
  margin-bottom: 9px;
}
#title>.description {
  font-size: 12px;
  text-shadow: 0 -1px 0 #fff;
}
iframe {
  position: absolute;
  top: 50px;
  right: 0;
}
#install {
  background: linear-gradient(#0887F3,#0661AE);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0887F3', endColorstr='#FF0661AE')";
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0887F3', endColorstr='#FF0661AE');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0887F3), color-stop(100%, #0661AE));
  background: -webkit-linear-gradient(#0887F3,#0661AE);
  background: -moz-linear-gradient(#0887F3,#0661AE);
  background: -o-linear-gradient(#0887F3,#0661AE);
  -pie-background: linear-gradient(#0887f3,#0661ae);
  background: linear-gradient(#0887F3,#0661AE);
  -moz-box-shadow: inset 0 1px 0 #0991ff;
  -webkit-box-shadow: inset 0 1px 0 #0991ff;
  -o-box-shadow: inset 0 1px 0 #0991ff;
  box-shadow: inset 0 1px 0 #0991ff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: #0661AE solid 1px;
  padding: 8px 14px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: #05589E 0 -1px 0;
  
  position: absolute;
  top: 100px;
  right: 20px;
}
#install:hover {
  background: linear-gradient(#077EE2,#05589E);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF077EE2', endColorstr='#FF05589E')";
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF077EE2', endColorstr='#FF05589E');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #077EE2), color-stop(100%, #05589E));
  background: -webkit-linear-gradient(#077EE2,#05589E);
  background: -moz-linear-gradient(#077EE2,#05589E);
  background: -o-linear-gradient(#077EE2,#05589E);
  -pie-background: linear-gradient(#077ee2,#05589e);
  background: linear-gradient(#077EE2,#05589E);
  text-shadow: #04457C 0 -1px 0;
}
#install:active {
  moz-box-shadow: inset 0.5px 2px 8px #04457c;
  -webkit-box-shadow: inset 0.5px 2px 8px #04457c;
  -o-box-shadow: inset 0.5px 2px 8px #04457c;
  box-shadow: inset 0.5px 2px 8px #04457c;
}

/* Presentation */

#presentation {
  background: rgba(220,220,220,.5);
}
#presentation2 {
  position: relative;
}
#presentation2,
#presentation2>* {
  min-height: 300px;
}
#vidoverlay {
  background: rgba(200,200,200,.3) url(../img/gtk_media_play_ltr.png) center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 300px;
  margin: 26px;
  cursor: pointer;
  -webkit-transition: background .1s ease-in;
  -moz-transition: background .1s ease-in;
  -o-transition: background .1s ease-in;
  transition: background .1s ease-in;
}
#vidoverlay:hover {
  background-color: rgba(50,50,50,.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#vid {
  width: 480px;
  height: 300px;
  border: 2px solid rgba(255,255,255,.5);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  background: rgba(255,255,255,.2) center no-repeat; /*TODO*/
  -webkit-box-shadow: rgba(100,100,100,.5) 1px 1px 6px;
  padding: 4px;
}
#screenshots-container {
  float: right;
  width: 340px;
  border: 2px solid rgba(255,255,255,.5);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  background: rgba(255,255,255,.2);
  -webkit-box-shadow: rgba(100,100,100,.5) 1px 1px 6px;
  padding: 4px;
}
#screenshots li {
  list-style-type: none;
  float: left;
  padding: 12px;
}
#screenshots img {
  border: 4px solid rgba(255,255,255,.75);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  opacity: .5;
  -webkit-transition: opacity .1s ease-in;
  -moz-transition: opacity .1s ease-in;
  -o-transition: opacity .1s ease-in;
  transition: opacity .1s ease-in;
}
#screenshots img:hover {
  opacity: 1;
}

/* Menu */

#menu {
  background: rgba(220,220,220,.9);
  -webkit-box-shadow: rgba(100,100,100,.5) 1px 1px 6px;
}
#menu ul {
  height: 52px;
}
#menu ul li {
  float: left;
  background: #3e779d;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  width: 190px;
  padding: 4px 8px;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #65a9d7 0 0 6px;
  -webkit-transition: background border-radius .1s ease-in;
  -moz-transition: background border-radius .1s ease-in;
  -o-transition: background border-radius .1s ease-in;
  transition: background border-radius .1s ease-in;
}
#menu ul li:last-child {
  margin-right: 0;
}
#menu ul li a {
  color: #fff;
  text-shadow: rgba(0,0,0,.8) -.5px -.5px 1px, .5px .5px 1px rgba(0,0,0,.5);
  display: block;
  text-decoration: none;
  padding: 5px;
}
#menu ul li span.entry {
  display: block;
  font-family: 'Lobster', arial, serif;
  padding: 1px 1px 1px 5px;
}
#menu ul li span.info {
  font-size: 0.7em;
  padding: 1px 1px 1px 5px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
  -webkit-transition: text-shadow .1s ease-in;
  -moz-transition: text-shadow .1s ease-in;
  -o-transition: text-shadow .1s ease-in;
  transition: text-shadow .1s ease-in;
}
#menu ul li:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
  background: -moz-linear-gradient(top, #3e779d, #3e779d);
  -webkit-box-shadow: #65a9d7 0 0 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#menu ul li:hover span.info {
  text-shadow: 0 0 3px #fff;
}

/* Content */

#body {
  background: rgba(220,220,220,.5);
  -webkit-box-shadow: rgba(100,100,100,.5) 1px 1px 6px;
}
#content {
  line-height: 18px;
  font-size: 13px;
}
#content section {
  position: relative;
  border: 2px solid rgba(255,255,255,.5);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  background: rgba(255,255,255,.2) center no-repeat; /*TODO*/
  -webkit-box-shadow: rgba(100,100,100,.5) 1px 1px 6px;
  padding: 4px 6px 12px;
  margin-bottom: 16px;
  -webkit-transition: background .05s ease-in;
  -moz-transition: background .05s ease-in;
  -o-transition: background .05s ease-in;
  transition: background .05s ease-in;
}
#content section:last-child {
  margin-bottom: 0;
}
#content section p,
#content section ul {
  text-shadow: 0 -1px 0 #fff;
}
#content section:hover {
  background-color: rgba(255,255,255,.4);
}
#content section ul {
  list-style-type: none;
}
#content section ul>li:before {
  display: marker;
  content: "\203A  ";
}
#content section ul>li {
  padding-left: 12px;
  padding-left: 12px;
}
section a {
  text-decoration: none;
  color: inherit;
}
section a:hover {
  text-decoration: underline;
}
section.indented {
  margin-right: 280px;
  min-height: 85px;
}
#twitter {
  float: right;
  min-height: 256px;
  width: 250px;
}
#twitter .twtr-widget>* {
  font-family: 'Molengo', arial, serif;
}
#opensourcelogo {
  position: absolute;
  top: 20px;
  right: 5px;
}

/* Footer */

footer {
  position: relative;
  display: block;
  font-family: 'Lobster', arial, serif;
  font-size: 18px;
  color: #fff;
  text-shadow: rgba(0,0,0,.8) -.5px -.5px 2px, .5px .5px 2px rgba(0,0,5,.5);
  padding-bottom: 30px;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  text-decoration: underline;
}
#webdesign {
  float: right;
}
#grab-template {
  float: right;
  padding-left: 30px;
  margin-left: 130px;
  height: 24px;
  background: url(../img/download.png) left no-repeat;
}

/* Misc */

a.link {
  color: #fff;
  background: rgba(100,100,100,.4);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(100,100,100,.4)), to(rgba(100,100,100,.5)));
  background: -moz-linear-gradient(top, rgba(100,100,100,.4), rgba(100,100,100,.5));
  text-decoration: none;
  padding: 0 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  -webkit-transition: opacity .1s ease-in;
  -moz-transition: opacity .1s ease-in;
  -o-transition: opacity .1s ease-in;
  transition: opacity .1s ease-in;
}
a.link:hover {
  opacity: .8;
}
.content-title {
  position: absolute;
  opacity: 0;/*TODO*/
  padding: 10px;
  font-size: 32px;
  font-family: 'Lobster', arial, serif;
  color: #28597a;
  width: 0%;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}
*:hover>.content-title {
  opacity: .3;
}
#lightbox-image {
  margin-top: -8px;
  margin-left: -8px;
  border: 8px solid rgba(255,255,255,.8);
  -webkit-box-shadow: 0px 0px 5px #fff;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#lightbox-container-image-box {
  background: transparent;
}
#lightbox-container-image-data-box {
  display: none;
  opacity: 0;
}
#lightbox-nav>* {
  opacity: 0;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}
#lightbox-nav>*:hover {
  opacity: 1;
}
