/* 
Tab Sugar
http://tabsugar.com/ - MIT License
*/

/*
Colors
 dark: #394254
 light: #9fbaed
 ultra light: #dbe7ff
*/

html {
  background: #f6f6fa;
}

body {
  font-family: Georgia, serif;
  width: 900px;
  margin: 0 auto;
  background: #fff url(/assets/img/bg-top.png) repeat-x top;
  position: relative;
  font-size: 1em;
}

h1, h2, h3 {
  color: #394254;
  text-shadow: 2px 2px 2px rgba(63, 74, 94, 0.3);
}

h1 {
  font-size: 4em;
  text-shadow: 2px 2px 2px rgba(63, 74, 94, 0.5);
}

h2 {
  font-size: 1.2em;
  text-shadow: 2px 2px 1px rgba(63, 74, 94, 0.2);
}

a {
  color: #394254;
}

/* Title */

#title {
  background: url(/assets/img/logo.png) no-repeat left;
  display: block;
  padding: 5em 0 2em 10em;
  margin-left: 2em;
  float: left;
}

/* Menu */

#menu {
  position: absolute;
  right: 0;
  display: block;
}
#menu ul {
}
#menu ul li {
  float: left;
  background: #fff;
  width: 190px;
  padding-bottom: 5px;
  border-bottom: 2px solid #9fbaed;
}
#menu ul li a {
  display: block;
  text-decoration: none;
  padding: 5px;
}
#menu ul li span.entry {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1px 1px 1px 5px;
}
#menu ul li span.info {
  color: #394254;
  font-size: 0.7em;
  padding: 1px 1px 1px 5px;
}
#menu ul li:hover {
  background: #dbe7ff;
  border-bottom: 3px solid #394254;
}
#menu ul li:hover * {
  text-shadow: 2px 2px 2px rgba(63, 74, 94, 0.5);
}

/* Downloads */
#downloads {
  position: absolute;
  right: 0;
  top: 7em;
  float: right;
  margin-right: 0.7em;
  width:16.6em;
}
a.btn {
  width: 250px;
  padding: 10px 25px 10px 25px;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px -1px 2px #618926;
  background: -moz-linear-gradient(#98ba40, #a6c250 35%, #618926);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #98ba40),color-stop(.35, #a6c250),color-stop(1, #618926));
  border: 1px solid #618926;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

a.btn:hover {
  text-shadow: -1px -1px 2px #465f97;
  background: -moz-linear-gradient(#245192, #1e3b73 75%, #12295d);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #245192),color-stop(.75, #1e3b73),color-stop(1, #12295d));
  border: 1px solid #0f2557;
}

/* Body */

#body {
  clear: both;
  margin-right: 17em;
  padding: 0 1em 1em 1em;
}
h3 {
  padding: 1.5em 0 0.5em 0;
}
p {
  padding-top: 0.5em;
}
#body ul {
  margin-left: 0.5em;
  list-style-position: inside;
}
#body ul {
  list-style-type: none;
}
*+html #body ul {
  list-style-type: disc;
}
#body ul li {
  margin-top: 0.3em;
}
#body ul li:first-child {
  margin-top: 0.8em;
}
#body ul>li:before {
  display: marker;
  content: "\203A  ";
}

/* Vertical */

#vertical {
  float: right;
  width: 16em;
  margin-right:-17em;
}

#screenshots {
  list-style-type: none;
  margin-left: 0;
  padding-top: 0.5em;
}
#screenshots li {
  display: inline;
  margin-right: 5px;
}
#screenshots>li:before {
  display: none;
}
#body #screenshots {
  list-style-type: none;
}
#screenshots a {
  text-decoration: none;
}
#screenshots img {
  -webkit-box-shadow: 4px 4px 7px #aaa;
}
#lightbox-image {
  -webkit-box-shadow: 0px 0px 24px #aaa;
}

/* Footer */

footer {
  clear: both;
  background: #dbe7ff;
  border-top: 3px solid #9fbaed;
  padding: 0.5em 1em;
  margin-top: 2em;
}
footer span {
  font-size: 0.7em;
}
#opensourcelogo {
  position: absolute;
  padding: 0.2em;
  right: 0;
  bottom: 2.2em;
  width: 75px;
  height: 65px;
}